@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body{font-family: 'Poppins', sans-serif;
     background: #fafafa}

a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}
.navbar{
    max-width: 100%!important;
	padding: 22px 25px;
	background: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    z-index: 1;
}

.navbar .btn{
	box-shadow: none;
	outline: none!important;
	border: none;
    color: #333;
    background: transparent;
}

.line{
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #7386D5;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #fff;
    color: #6d7fcc;
    transition: all 0.3s;
}
#sidebar.active{
	margin-left: -250px;
}

#sidebar .sidebar-header{
    position: sticky;
    top: 0;
	padding: 20px;
	background: #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
#sidebar ul.components{
	padding: 20px 0px;
    position: sticky;
    top: 85px;	
}

#sidebar ul p{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}
#sidebar ul li a:hover {
    color: #333;
    background: #fff;
    font-size: 30px!important;
    transition: 0.7s;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #6d7fcc;
    background: #fff;
}
a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul li a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fff;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}


.content {
    width: 100%;
   
    min-height: 100vh;
    transition: all 0.3s;
    
}

@media(max-width:768px){
	#sidebar{margin-left: -250px;}
	#sidebar.active{
		margin-left: 0px;
	}
	#sidebarCollapse span{
		display: none;
	}
}

.navbar
{
    position: sticky!important;
    top: 0;

}

.content .main h1,p
{
    text-align: center;
}

#get-qoute
{
    text-align: center;
}
#main img
{
    
     max-width:100%;
    height:auto;
    padding: 50px 100px 100px 100px;
    
}
#main
{
    text-align: center;
}

#updates h1
{
   text-align: center;
    padding: 50px 100px 50px 100px;

    
}

#updates .container h5
{ 
    
   
   padding: 30px; 
    object-fit: contain;
    
}
#updates .container p
{
     
    padding: 20px;
    object-fit: contain;
  
}

#updates .text-center
{
  object-fit: contain;
    position: static;
      max-width:100%!important;
    height:auto!important;
    
}

#about h5
{
   
    text-align: center;
      padding: 50px;
}
#about 
{
    padding: 50px;
    background-color: #fafafa;
   
}
#about p
{
    padding: 0 100px 50px 100px; 
}
#about .container
{
    padding: 50px;
    background-color: lightgrey;
}

#gallery h1
{
     text-align: center;
    padding: 50px 100px 50px 100px;

}

#gallery 
{
    text-align: center;
    position: inherit;
    
}
#gallery .text-center
{
  
    position: static;
      max-width:100%;
    height: auto;
    
   
}

#gallery img
{
    
     max-width:100%;
    height:auto;
    padding: 20px;
    
}


#map h1
{
     text-align: center;
    padding: 50px 100px 50px 100px;

}


.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
    
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
    padding: 0 0 50px 0;
    
}
#map .map-container
{
      max-width:100%;
    height: auto;
}

#map h4
{
    padding: 30px;
    text-align: left;
}
#map #contact-btn
{
    text-align: left;
    padding-left: 25px;
}
#map p
{
    padding-left: 25px;
    padding-top: 30px;
    text-align: left;
}

#map .text-center
{
  
    position: static;
      max-width:100%;
    height: auto;

}














